@import "tailwindcss";

@theme{
    --color-azul: #1E88E5;
    --color-verde:#4CAF50;
    --color-rojo:#E53935;
    --color-morado:#6750A4;
    --color-moradito:#E5DBFF;
    --color-gris-clarito:#F5F5F5;
    --color-gris:#D9D9D9;
}